.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(252, 9, 183),
        0 0 82px rgb(252, 9, 183),
        0 0 92px rgb(252, 9, 183),
        0 0 102px rgb(252, 9, 183),
        0 0 151px rgb(252, 9, 183);
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
  }

 .silder__item{
    height:550px;
    object-fit: cover;
 }

 .nav__icon{
    width: 50px;
    height: 50px;
 }

 @media(max-width:410px) {
    

    .silder__item {
        height: 100%;
    }

    .silder__item1{
        height: 100%;

    }

  
 }

 .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


  .silder__item1{
    object-fit: cover;
  }

  .false{
    display: none;
  }

  .true{
    display: block;
  }

  .tiko{
    resize: none;
    height: 150px;
  }

 